name: gamflew

services:
  database:
    image: postgres
    restart: always
    container_name: database
    environment:
      POSTGRES_HOST: localhost
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prototype
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: 'user@pgadmin.com'
      PGADMIN_DEFAULT_PASSWORD: 'password'
    ports:
      - "4321:80"
    depends_on:
      - database

  backend:
    image: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: database
      DB_USERNAME: postgres
      DB_PASSWORD: password
      DB_DATABASE: prototype
      DB_PORT: 5432
    ports:
      - "8000:80"
    depends_on: 
      - database

  frontend:
    build: 
      context: ./frontend
    image: vue-frontend
    container_name: frontend
    ports:
      - "5473:80"
    depends_on:
      - backend

volumes:
  postgres_data:
