@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-color: #fff !important;
  --text-color: #333 !important;
  --toggle-color: darkgray !important;
  --text-color-inv: #b8b8b8 !important;
  --border-color: #cdcdcd !important;
  --button-color: #333 !important;
  --box-border: 1px solid #cdcdcd !important;
  --accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: scroll;
}

.dark-theme {
  --background-color: #333 !important;
  --text-color: #fff !important;
  --toggle-color: darkgray !important;
  --text-color-inv: #cdcdcd !important;
  --border-color: #b8b8b8 !important;
  --button-color: #fff !important;
  --accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.play-mode {
  --box-border: 1px solid #cdcdcd;
}

.add-mode {
  --box-border: 1px solid rgb(169, 89, 255);
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  padding: 20px;
}

#challenge-header {
  align-items: stretch;
  padding: 10px;
}

.timer {
  text-align: right !important;
}

.timer-hurry {
  font-weight: bold;
  color: red;
}

.timer-paused {
  font-style: italic;
  color: rgb(169, 89, 255);
}

#challenge-code {
  height: 625px;
  width: 45%;
  border-radius: 5px;
  border: var(--box-border);
  overflow-y: scroll;
}

pre {
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
}

.game-board {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px;
  grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px;
  justify-content: center;
}

.game-board-out {
  display: grid;
  grid-template-columns: 55px;
  grid-template-rows: 55px;
  justify-content: center;
}

.box {
  background-color: var(--background-color);
  border: var(--box-border);
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece-creator {
  border-radius: 100px;
  border: 1px solid var(--border-color);
  width: 62.5px;
  height: 62.5px;
}

.creator, .game-board {
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
}

.button {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  margin: 3px;
  padding: 5px 10px;
  color: var(--text-color);
}

.board-progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0px 10px;
}

.progress-circle {
  margin: 3px;
  vertical-align: middle;
  border-radius: 100px;
  width: 17.5px;
  height: 17.5px;
}

.green {
  background-color: greenyellow;
}

.gray {
  background-color: gray;
}

.piece-overlap {
  display: grid;
  grid-template-columns: 25px 25px;
  grid-template-rows: 25px 25px;
  justify-content: center;
}

.creator-overlap {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
  justify-content: center;
}

.overlap-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.piece {
  border-radius: 100px;
  height: 45px;
  width: 45px;
  border: 1px solid var(--border-color);
}

.small {
  height: 16px;
  width: 16px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.selected {
  background-color: rgb(169, 89, 255);
}

.empty {
  background-color: transparent;
  border-color: transparent;
}

#header-row {
  margin-bottom: 10px;
}

.game-board-label .row {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}

.game-board-label .col {
  display: flex;
  justify-content: center;
}

.game-board-col-labels {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px;
  grid-template-rows: 25px;
  justify-content: center;
}

.game-board-row-labels {
  display: grid;
  grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px;
  grid-template-columns: 25px;
  justify-content: center;
}

.game-board-row-labels-creator {
  display: grid;
  grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-template-columns: 25px;
  justify-content: center;
}

.game-board-col-labels-creator {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 25px;
  justify-content: center;
}

.player-info {
  padding-left: 10px;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  height: auto;
  overflow: auto;
  margin-bottom: 5px;
}

button.menu-button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  margin: 10px;
  padding: 10px 15px;
  width: 100%;
}

#theme-toggle {
  background-color: var(--button-color);
  color: var(--toggle-color);
  width: 77.5px;
  height: 40px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

#guide-button {
  background-color: var(--button-color);
  color: var(--toggle-color);
  width: 77.5px;
  height: 40px;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 2;
}

.add-button {
  border: var(--box-border);
}

.player-bar-box {
  width: 95.5%;
  height: 150px;
  border: 1px solid #cdcdcd;
}

.player-bar-avatar {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  border: 1px solid #cdcdcd;
  object-fit: cover;
  margin-right: 20px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 85px 85px;
}

button {
  font-size: small;
}

textarea {
  text-align: justify;
  white-space: normal;
}

#close-submit-modal:hover,
#close-submit-modal:active,
#close-fail-modal:hover,
#close-fail-modal:active {
  background-color: #dc3545 !important;
  color: white;
}

.modal-content {
  border-radius: 0px;
}

.btn.btn-secondary,
.btn.btn-primary {
  border-radius: 0px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  margin: 3px;
  padding: 5px 10px;
  color: var(--text-color);
}

#submit-modal-button:hover,
#submit-modal-button:active,
#fail-modal-button:hover,
#fail-modal-button:active {
  background-color: #8adc6d !important;
  color: white;
}

.alert-special {
  color: #390c60;
  background-color: #e1d1f1;
  border-color: #d9beeb;
}

.accordion,
.accordion-button,
.accordion-button:focus,
.accordion-body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: var(--accordion-button) !important;
}

.list-group-item:first-of-type {
  margin-top: 9px;
}

.list-group-item {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border: transparent;
  padding: 0px;
  margin-top: 10px;
}

.challenge-card {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
  width: 100%;
  border-radius: 10px;
}

.challenge-card .text-muted {
  color: var(--text-color-inv) !important;
}

.challenge-card:hover {
  background-color: #8adc6d !important;
}

.challenge-card:hover .text-muted {
  color: var(--text-color) !important;
}

.modal-content,
.btn-close {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  --bs-btn-close-color: var(--text-color) !important;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='red'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.modal-content {
  border: 1px solid var(--border-color) !important;
}

.guide-button {
  background-color: var(--background-color);
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
  margin: 3px;
  padding: 5px 10px;
  height: 40px;
}

.guide-button-selected {
  background-color: rgb(169, 89, 255) !important;
  color: white !important;
}

#code-block-example > code.language-javascript {
  margin-left: -40px;
}

.passed-badge {
  background-color: transparent;
  color: var(--text-color);
  border-radius: 30px;
  margin-top: 2.5px;
  padding: 5px 10px;
  border: 1px solid rgb(169, 89, 255);
}

.disabled {
  opacity: 0.5;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.Vue-Toastification__toast--warning {
  background-color: rgb(169, 89, 255)!important;
}